github/
old_github/
Hilpisch, Yves J-Python for Finance_ Analyze Big Financial Data-O'Reilly Media (2015).pdf
PyforFi.pdf
Yves Hilpisch-Python for Finance  Analyze Big Financial Data-O'Reilly Media (2015).pdf
**/__pycache__/
.Rhistory
